<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image, class:"item-box-img" if @item.image.attached?%>
      <% if @item.sales_item = false %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @item.price %>円
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <% if @item.buyer == nil %>
      <% if user_signed_in? && (current_user == @item.user ) %>
        <%= link_to '商品の編集', edit_item_path(@item), method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', "#", method: :delete, class:'item-destroy' %>
      <% end %>

      <% if @item.sales_item == false && (current_user != @item.user) %>
        <% if user_signed_in? %>
          <%= link_to '購入画面に進む', item_buyers_path(@item), class:"item-red-btn"%>
        <% else %>
          <%= link_to '購入画面に進む', user_session_path, class:"item-red-btn"%>
        <% end %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.info %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.sales_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping_fee_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.scheduled_delivery.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>
  <% if user_signed_in? %>
    <div class="comment-box">
    <%= form_with(model: [@item,@comment], local: true) do |f| %>
      <form>
        <%= f.text_area :text, class:"comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit 'コメントする', class: "comment-btn" %>
          <%= link_to image_tag("comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25") %>
      </form>
      <% end %>
    </div>
  <% end %>
      <% if @comments %>
      <h4 class="change-item-btn">＜コメント一覧＞</h4>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"change-item-btn" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
  
  <div class="links">
    <%= link_to '＜ 前の商品', item_path, class: "change-item-btn" %>
    <%= link_to '後ろの商品 ＞', "#",  class: "change-item-btn" %>
  </div>
  <%= link_to "#{@item.category.name}をもっと見る", item_path, class: 'another-item' %>
</div>


<%= render "shared/footer" %>